---
import HomePage from '../components/pages/Home.jsx';
const title = 'Osteopathe Animalier Bordeaux - Agathe Lescout';
const description = "L'Ostéopathe animalier Agathe Lescout, intervenant sur Bordeaux et Gironde!";
const siteUrl = 'https://www.osteopathie-animale-bordeaux.fr';
---
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={siteUrl} />
    <meta name="theme-color" content="#c0823f" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script is:inline>
      {`(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KCM49LQ');`}
    </script>
  </head>
  <body>
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KCM49LQ"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <HomePage client:only="react" />
  </body>
</html>
